<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Home", root_path, class:"navbar-brand" %>
          <%= link_to "Contato", @professor, class:"navbar-brand" %>
          <%= link_to "Listas", { controller: "posts", action: "listas" }, class:"navbar-brand" %>
          <%= link_to "Resoluções", { controller: "posts", action: "resolucoes" }, class:"navbar-brand" %>
          <%= link_to "Videos", { controller: "posts", action: "videos" }, class:"navbar-brand" %>
          <% if session[:usuario] %>
            <a class="navbar-brand" href="/notas/usuario">Notas</a>
          <% end %>
        </div>
        <div class="navbar-collapse collapse navbar-right">
        <% if session[:usuario] %>
          <% aluno = Aluno.find_by(matricula: "#{session[:usuario]}") %>
          <%= link_to "Perfil", aluno, class:"navbar-brand" %>
        <% end %>
          <form class="navbar-form navbar-right" role="form">
			<%= link_to "Logout",{ controller: "home", action: "logout" }, class:"btn btn-default" %>
          </form>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="container" style="width:60%;margin-left:auto;margin-right:auto;">
	
	<h1><%= @professor.nome %></h1>

	<hr>

	<div style="margin-left:20px;font-size:16px;">
		E-mail: <%= @professor.email %><br/>
	</div>

	<hr>
	<p><b>Atendimentos</b></p>


	<% dia_anterior = "0" %>
	<% horario = "" %>

	<% @atendimentos.each do |a| %>
		<% if a.dia == dia_anterior %>	
			<% horario = horario+" e das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
		<% else %>
			<% if a.dia=="1" %>
				<% horario = horario+"#Segunda-feira das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
			<% end %>
			<% if a.dia=="2" %>
				<% horario = horario+"#Terça-feira das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
			<% end %>
			<% if a.dia=="3" %>
				<% horario = horario+"#Quarta-feira das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
			<% end %>
			<% if a.dia=="4" %>
				<% horario = horario+"#Quinta-feira das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
			<% end %>
			<% if a.dia=="5" %>
				<% horario = horario+"#Sexta-feira das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
			<% end %>
		<% end %>
		<% dia_anterior=a.dia %>
	<% end %>

	<% horario=horario.split("#") %>

	<% horario.each do |h| %>
		<% if h != "" %>
			<%= h %><br>
		<% end %>
	<% end %>


</div>