<div class="container" style="width:60%;margin-left:auto;margin-right:auto;">
	
	<h2>Alunos</h2>

	<hr>

	<% @turmas.each do |t| %>
		<%= link_to "Turma "+t.codigo, "/turma/"+t.codigo %>
	<% end %>

	<hr>

	<div style="margin-left:20px;">

		<% if @turma %>

			<h4><%= "Turma "+@turma.codigo %></h4>
			<br>

			<%= form_for @p, :url => url_for(:controller => 'presencas', :action => 'create'), :class => 'form-signin' do |f| %>

			<table class="table">

			<thead>
				<tr>
					<th>Nome</th>
					<th>Matricula</th>
					<th>Turma</th>
					<th>Presença</th>
				</tr>
			</thead>

			<% @alunos.each do |a| %>

			<tbody>

				<tr>
					<td><%= a.nome %></td>
					<td><%= a.matricula %></td>
					<td><%= a.turma.codigo %></td>
					<td>
						<%= radio_button_tag(:presente, "p") %>
						<%= label_tag(:presente, "P") %>
						<%= radio_button_tag(:presente, "f") %>
						<%= label_tag(:presente, "F") %>
						<%= radio_button_tag(:justificado, "j") %>
						<%= label_tag(:justificado, "J") %>
					</td>
				</tr>

			</tbody>

			<% end %>

			</table> 	

			<%= submit_tag 'Inserir presenças', class:"btn btn-default" %>

			<% end %>	

			<hr>

		<% end %>

		<br>

	</div>

</div>