<div class="container" style="width:60%;margin-left:auto;margin-right:auto;">
	
	<h2>Alunos</h2>

	<hr>

	<% @turmas.each do |t| %>
		<%= link_to "Turma "+t.codigo, "/turma/"+t.codigo %>
	<% end %>

	<hr>

	<div style="margin-left:20px;">

		<% if @turma %>

			<h4><%= "Turma "+@turma.codigo %></h4>
			<br>

			<table class="table">

			<thead>
				<tr>
					<th>Nome</th>
					<th>Matricula</th>
					<th>Turma</th>
					<th>Presença</th>
				</tr>
			</thead>

			<% @alunos.each do |a| %>

			<tbody>

			<%= form_for @p, :url => url_for(:controller => 'presencas', :action => 'create'), :class => 'form-signin' do |f| %>

				<tr>
					<td><%= a.nome %></td>
					<td><%= a.matricula %></td>
					<td><%= Turma.find(a.turma_id).codigo %></td>
					<td><%= check_box_tag(:p) %> P <%= check_box_tag(:f) %> F  <%= check_box_tag(:j) %> J</td>
				</tr>

			<%= submit_tag 'Inserir presenças', class:"btn btn-default" %>

			<% end %>	

			</tbody>

			<% end %>

			</table> 

			<hr>

		<% end %>

		<br>

	</div>

</div>