<div class="container" style="width:30%;margin-left:auto;margin-right:auto;">
	
	<h1>Inserir presença</h1>

	<hr>

	<%= form_for @presenca, :url => url_for(:controller => 'presencas', :action => 'create'), :class => 'form-signin' do |f| %>
		<div class="form-group">
			<label for="matricula">Matrícula:</label>
			<%= f.text_field :aluno_id,
			 :class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="disciplina">Disciplina:</label>
			<%= collection_select(:presenca, :disciplina_id, Disciplina.all.order(:nome), :id, :codigo, {}, {class: "form-control"}) %>
		</div>
		<div class="form-group">
			<label for="presente">Presente:</label>
			<%= f.select :presente, options_for_select([["Sim", "true"], ["Não", "false"]]), class: "form-control" %>
		</div>
		<div class="form-group">
			<label for="justificado">Justificado:</label>
			<%= f.select :presente, options_for_select([["Sim", "true"], ["Não", "false"]]), class: "form-control" %>
		</div>
		<br>
		<%= link_to "Voltar", professores_path, 
			class:"btn btn-default" %> 
		<%= submit_tag 'Inserir', 
			class:"btn btn-default" %>
		<br>
	<% end %>	

</div>