<div style="width:70%;padding:10px;">
	
	<h2>Inserir notas</h2>

	<hr>
	
	<%= link_to "Todas turmas", "alunos/turma/0" %>
	<% @turmas.each do |t| %>
		 | <%= link_to "Turma "+t.codigo, "alunos/turma/"+t.codigo %>
	<% end %>

	<hr>

	<div style="margin-left:20px;">

		<% if @turma %>

			<h4><%= "Turma "+@turma.codigo %></h4>

		<% else %>

			<h4>Todas turmas</h4>

		<% end %>

		<br>

		<table class="table">

		<thead>
			<tr>
				<th>Nome</th>
				<th>Matricula</th>
				<th>Turma</th>
				<th>Cadastro</th>
			</tr>
		</thead>

		<% @alunos.each do |a| %>

			<tbody>
			<tr>
				<td><%= a.nome %></td>
				<td><%= a.matricula %></td>
				<td><%= Turma.find(a.turma_id).codigo %></td>
				<% if not a.confirmado%>					
					<td><%= link_to "Aprovar cadastro",
						aluno_aprova_path(a.id) %></td>
				<% else %>
					<td>Aprovado</td>
				<% end %>
			</tr>
			</tbody>

		<% end %>

		</table> 

	</div>

	<hr>

	</center>

</div>