<div class="container" style="width:30%;margin-left:auto;margin-right:auto;">
	
	<h1>Inserir turma</h1>

	<hr>

	<% flash.each do |name, msg| -%>
		<%= content_tag :div, msg, class: "text-danger" %><br>
	<% end %>

	<%= form_for @turma, :url => url_for(:controller => 'turmas', :action => 'create'), :class => 'form-signin' do |f| %>
		<div class="form-group">
			<label for="codigo">Código:</label>
			<%= f.text_field :codigo,
			 :class => "form-control" %>
		</div>
		<br>
		<%= link_to "Voltar", professores_path, 
			class:"btn btn-default" %> 
		<%= submit_tag 'Inserir', 
			class:"btn btn-default" %>
		<br>
	<% end %>	

</div>