<div class="container">

	<%= link_to "Contato", "LACUNA"%> | 
	<%= link_to "Listas", "LACUNA"%> | 
	<%= link_to "Resoluções", "LACUNA"%>
	<%= text_field_tag :pesquisa %>

	<% if session[:usuario] %>

	    <%= link_to "Logout", "home/logout", class:"btn btn-default" %>

	<% else %>

		<%= link_to "Login", "home/login", class:"btn btn-default" %>

	<% end %>

	<br><br>
	<%= image_tag "http://ww1.prweb.com/prfiles/2010/09/20/1875904/fisicaLogo.png", 
		:style => "width: 30%; float :left; position: relative;"%>

	<ul style="width: 40%; border: 1px double; float: left; position: relative;">
		Atividade recente:
		<li>Demonstração1   |   22/09</li>
		<li>Demonstração2   |   19/09</li>
		<li>Demonstração3   |   16/09</li>
		<li>Demonstração4   |   14/09</li>
	</ul>


	<br><br><br><br><br><br><br><br><br>
	**** SOMENTE PARA VIA DE TESTES: <%= link_to "Listagem de alunos", alunos_path %>

</div>