<%= link_to "Contato", "LACUNA"%> | 
<%= link_to "Listas", "LACUNA"%> | 
<%= link_to "Resoluções", "LACUNA"%>
<%= text_field_tag :pesquisa %>
<%= link_to "Login", aluno_path(:login) %>

<br><br>
<%= image_tag "http://ww1.prweb.com/prfiles/2010/09/20/1875904/fisicaLogo.png", 
	:style => "width: 30%; float :left; position: relative;"%>

<ul style="width: 40%; border: 1px double; float: left; position: relative;">
	Atividade recente:
	<li>Demonstração1   |   22/09</li>
	<li>Demonstração2   |   19/09</li>
	<li>Demonstração3   |   16/09</li>
	<li>Demonstração4   |   14/09</li>
</ul>

