
<div style="width:70%;padding:10px;">
	
	<h1>Login</h1>
	
	<center>

	<hr><br>

	<% flash.each do |name, msg| -%>
		<%= content_tag :div, msg, class: name %><br>
	<% end %>

	<br>

	<%= form_for @aluno, :url => url_for(:controller => 'home', :action => 'log') do |f| %>
		Matrícula: <%= text_field_tag :matricula %><br/>
		Senha: <%= password_field_tag :senha %><br/>
		<br>
		<%= link_to "Voltar", root_path(:index), class:"button" %> <%= submit_tag 'Entrar' %>
		<br>
		<div id="registrar" style="width:30%;">
			<hr style="opacity:0.5;">
			Novo aluno? <%= link_to "Cadastre-se", aluno_path(:new)%>
		</div>
	<% end %>

	</center>

</div>



