<div class="container" style="width:30%;margin-left:auto;margin-right:auto;">
	
	<h1>Nova postagem</h1>

	<hr>

	<%= form_for @post, :url => url_for(:controller => 'posts', :action => 'create'), :class => 'form-signin', :html => { :multipart => true } do |f| %>
	
		<div class="form-group">
			<label for="titulo">Título:</label>
			<%= f.text_field :titulo,
			 :class => "form-control" %>
		</div>
	
		<div class="form-group">
			<label for="conteudo">Conteúdo:</label>
			<%= f.text_area :conteudo,
			 :class => "form-control" %>
		</div>

		<select name="tipo" class="form-control">
			<option value="Aviso" onclick="oculta_arquivo()">Aviso</option>
			<option value="Lembrete" onclick="oculta_arquivo()">Lembrete</option>
			<option value="Video" onclick="mostra_arquivo()">Video</option>
			<option value="Lista" onclick="mostra_arquivo()">Lista</option>
			<option value="Resolução" onclick="mostra_arquivo()">Resolução</option>
			<option value="Material" onclick="mostra_arquivo()">Material</option>
		</select>

	  	<div id="arquivo" class="form-group" style="display:none;">

 			<h3>Arquivo</h3>
			<hr>

	  		<label for="file">Upload: </label>
	  		<%= file_field_tag 'arquivo' %>
	    
	    </div>

	    <br>
	    <%= link_to "Voltar", professores_path, class:"btn btn-default" %> 
		<%= submit_tag 'Postar', class:"btn btn-default" %>

	<% end %>

	<script>
		function mostra_arquivo() {
		    document.getElementById("arquivo").style.display = 'inline';
		}
		function oculta_arquivo() {
		    document.getElementById("arquivo").style.display = 'none';
		}
	</script>

</div>