<div class="container" style="width:30%;margin-left:auto;margin-right:auto;">
	
	<h1>Nova postagem</h1>

	<hr>

	<%= form_for @post, :url => url_for(:controller => 'posts', :action => 'create'), :class => 'form-signin' do |f| %>
		<div class="form-group">
			<label for="titulo">Título:</label>
			<%= f.text_area :titulo,
			 :class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="conteudo">Conteúdo:</label>
			<%= f.text_area :conteudo,
			 :class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="tipo">Tipo: </label>
			<%= f.select :tipo, options_for_select([["Lembrete", "Lembrete"], ["Aviso", "Aviso"], ["Video", "Video"], ["Lista", "Lista"], ["Resolucao", "Resolucao"], ["Material", "Material"]]), class: "form-control" %>
		</div>
		<h2>Arquivo</h2>
		<div class="form-group">
			<label for="nome">Nome:</label>
			<%= f.text_field :nome,
			 :class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="extensao">Extensão: </label>
			<%= f.text_field :extensao,
			 :class => "form-control" %>
		</div><br>
		<%= link_to "Voltar", professores_path, class:"btn btn-default" %> 
		<%= submit_tag 'Inserir', class:"btn btn-default" %>
		<br>
	<% end %>

</div>