<div class="container" style="width:60%;margin-left:auto;margin-right:auto;">
	
	<h1><%= @post.titulo %></h1>
	<% if session[:prof] %>
		<%= link_to "Editar postagem", { controller: "posts", action:"edit" }, class:"btn btn-default"%>
		<%= link_to "Anexar arquivo", { controller: "arquivos", action:"new" }, class:"btn btn-default"%>
		<br><br>
		<%= button_to "Apagar post", {:controller => :posts, :action => :destroy, :id => @post.id}, :method => :delete, class:"btn btn-danger"%>
	<% end %>

	<hr>

	<span class="badge"><%= @post.created_at.strftime('%b %d') %></span>

	<br><br>

	<div style="margin-left:5px;font-size:16px;">
		<p><%= @post.conteudo %></p>
	</div>

	<% if session[:usuario] %>
	<br><b>Comentários: </b>
	<% end %>

	<hr>

	<% if session[:usuario] %>
	<% @coments.each do |c| %>
		<div class="thumbnail">
			<%	a = Aluno.find(c.aluno_id) %>
			<b><%= a.nome%></b><%= ", "+c.created_at.strftime('%k:%M %d/%m/%Y')  %>
			<br><br>
			<%= c.conteudo %>
			<br><br>
		</div>
	<% end %>
	<% end %>

	<hr>

	<% if session[:usuario] %>
		<%= link_to "Comentar", { controller: "comentarios", action:"new" }, class:"btn btn-default"%>
	<% end %>

</div>