<div style="width:70%;padding:10px;">
	
	<h1>Editar aluno</h1>

	<hr><br>

	<% flash.each do |name, msg| -%>
		<%= content_tag :div, msg, class: name %><br>
	<% end %>

	<br>

	<center>

		<%= form_for @aluno do |f| %>
			Nome: <%= f.text_field :nome %><br/>
			E-mail: <%= f.text_field :email %><br/>
			Matrícula: <%= f.text_field :matricula %><br/>
			Turma: <%= collection_select(:aluno, :turma_id, Turma.all.order(:codigo), :id, :codigo, {:selected => @aluno.turma_id }) %>
			<br>
			<%= link_to "Cancelar", @aluno, class:"button" %> 
			<%= submit_tag 'Atualizar' %>
		<% end %>

	</center>

</div>

