<div style="width:70%;padding:10px;">
	
	<h2>Alunos</h2>

	<hr>
	<br>

	<div style="margin-left:20px;">

		<table>

		<tr>
			<td>Nome</td>
			<td>Matricula</td>
			<td>Turma</td>
		</tr>

		<% @alunos.each do |a| %>

			<tr>
				<td><%= a.nome %></td>
				<td><%= a.matricula %></td>
				<td><%= Turma.find(a.turma_id).codigo %></td>
				<td><%= link_to "Excluir", a, method: :delete %></td>
				<% if not a.confirmado%>
					<td><%= link_to "Aprovar cadastro",
					aluno_aprova_path(a.id) %></td>
				<% end %>
			</tr>

		<% end %>

		</table> 

	</div>

	</center>

</div>

