<!doctype html>
<div class="container" style="width:30%;margin-left:auto;margin-right:auto;">
	
	<h1>Dados cadastrais</h1>

	<hr>

	<%= form_for @aluno, :class => 'form-signin' do |f| %>
		<div class="form-group">
			<label for="nome">Nome: </label>
			<%= f.text_field :nome, :class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="email">E-mail: </label>
			<%= f.text_field :email, :class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="matricula">Matrícula: </label>
			<%= f.text_field :matricula, :class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="turma">Turma: </label>
			<%= collection_select(:aluno, :turma_id, Turma.all.order(:codigo), :id, :codigo, {}, {class: "form-control"}) %>
		</div>
		<div class="form-group">
			<label for="senha">Senha: </label>
			<%= f.password_field :senha, :class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="confirmar">Confirmar senha: </label>
			<%= password_field_tag :senha2, nil, :class => "form-control" %><br/>
		</div>
		<%= link_to "Cancelar", url_for(:controller => 'home', :action => 'login'), class:"btn btn-default" %> 
		<%= submit_tag 'Cadastrar', class:"btn btn-default" %>
		<% end %>

		<hr>

</div>