<br>
<h1>Dados cadastrais</h1>

<hr>

<% if @msg %>
	<%= @msg %> 
<%end%>

<% if @aluno.errors.any? %>

    <% @aluno.errors.full_messages.each do |m| %>

        <%= m %>

    <% end %>

<% end %>

<center>

	<%= form_for @aluno do |f| %>
		Nome: <%= f.text_field :nome %><br/>
		E-mail: <%= f.text_field :email %><br/>
		Matrícula: <%= f.text_field :matricula %><br/>
		<br>
		Senha: <%= f.password_field :senha %><br/>
		Confirmar senha: <%= password_field_tag :senha2 %><br/>
		<%= link_to "Cancelar", root_path(:index), class:"button" %> 
		<%= submit_tag 'Cadastrar' %>
	<% end %>

</center>

