<div class="container" style="width:30%;margin-left:auto;margin-right:auto;">
	
	<h1>Editar aluno</h1>

	<hr>

		<%= form_for @aluno, :url => url_for(:controller => 'alunos', :action => 'troca_senha'), 
			:class => 'form-signin' do |f| %>
			<div class="form-group">
			<label for="antiga">Antiga senha: </label> 
			<%= password_field_tag :senha_antiga, nil, :class => "form-control" %>
			</div>
			<div class="form-group">
			<label for="nova">Nova senha: </label>
			<%= password_field_tag :senha, nil, :class => "form-control" %>
			</div>
			<hr>
			<%= link_to "Cancelar", @aluno, class:"btn btn-default" %> 
			<%= submit_tag 'Trocar', class:"btn btn-default" %>
		<% end %>


</div>