<div class="container" style="width:30%;margin-left:auto;margin-right:auto;">
	
	<h1>Inserir arquivo</h1>

	<hr>

	<%= form_for @arquivo, :url => url_for(:controller => 'arquivos', :action => 'create'), :class => 'form-signin' do |f| %>
		<div class="form-group">
			<label for="nome">Nome:</label>
			<%= f.text_field :nome,
			 :class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="conteudo">Conteúdo:</label>
			<%= f.text_field :conteudo,
			 :class => "form-control" %>
		</div>
		<div class="form-group">
			<label for="tipo">Tipo: </label>
			<%= f.select :tipo, ([["Vídeo"], ["Lista"], ["Resolução"], ["Material"]]) %>
		</div>
		<div class="form-group">
			<label for="extensao">Extensão: </label>
			<%= f.text_field :extensao,
			 :class => "form-control" %>
		</div>
		<%= link_to "Voltar", professores_path, class:"btn btn-default" %> 
		<%= submit_tag 'Inserir', class:"btn btn-default" %>
	<% end %>	

</div>